body{
  background-color: rgba(0,0,0,0.5);
}

.wrapper{
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}